conda==4.8.2
conda-build==3.18.11
conda-package-handling==1.6.0
conda-verify==3.4.2
Django==2.2.8
django-admin-select2==1.0.1
django-filter==2.4.0
django-import-export==1.2.0
django-rest-swagger==2.2.0
djangorestframework==3.10.3
graphene==2.1.8
graphene-django==2.13.0
graphql-core==2.3.2
graphql-relay==2.0.1
jsonschema==3.2.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.1.3
redis==3.4.1
requests==2.23.0
requests-oauthlib==1.3.0